{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
            <!-- GOOGLE MATERIAL ICONS -->
        <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
            <!-- GOOGLE FONT LINK -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;500&display=swap" rel="stylesheet">

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Creative - Start Bootstrap Theme</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}" />
        <!-- Bootstrap Icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
        <!-- SimpleLightbox plugin CSS-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="#page-top">Runacian's Portfolio</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto my-2 my-lg-0">
                        <li class="nav-item"><a class="nav-link" href="#about">About Me</a></li>
                        <li class="nav-item"><a class="nav-link" href="#skills">Skills</a></li>
                        <li class="nav-item"><a class="nav-link" href="#archiving">Archiving</a></li>
                        <li class="nav-item"><a class="nav-link" href="#project">Project</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead">
            <div class="container px-4 px-lg-5 h-100">
                <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-8 align-self-end">
                        <h1 class="text-white font-weight-bold">Runacian's Portfolio</h1>
                        <hr class="divider" />
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        <p class="text-white-75 mb-5">안녕하세요. <br>Python 풀스택 개발자를 꿈꾸는 주니어 개발자입니다.</p>
                        <a class="btn btn-primary btn-xl" href="#about">더 알아보기</a>
                    </div>
                </div>
            </div>
        </header>

        <!-- about-->
        <section class="page-section" id="about">
            <div class="container px-4 px-lg-5">
                <h2 class="text-center mt-0">ABOUT ME</h2>
                <hr class="divider" />
                <div class="row gx-4 gx-lg-5">
                    <div class="col-lg-4 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="material-icons" style="font-size: 50px; color: #3CB4FF;">badge</i></div>
                            <div class="mb-2"><span class="name">이름</span></div>
                            <h3 class="h4 mb-2">송세영</h3>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="material-icons" style="font-size: 50px; color: #3CB4FF;">calendar_month</i></div>
                            <div class="mb-2"><span class="birth">생일</span></div>
                            <h3 class="h4 mb-2">1997. 02. 21</h3>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="material-icons" style="font-size: 50px; color: #3CB4FF;">smartphone</i></div>
                            <div class="mb-2"><span class="telephone">연락처</span></div>
                            <h3 class="h4 mb-2">010-3685-8480</h3>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="material-icons" style="font-size: 50px; color: #3CB4FF;">home</i></div>
                            <div class="mb-2"><span class="residence">거주지</span></div>
                            <h3 class="h4 mb-2">경기도 파주시</h3>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="material-icons" style="font-size: 50px; color: #3CB4FF;">mail</i></div>
                            <div class="mb-2"><span class="mail">이메일</span></div>
                            <h3 class="h4 mb-2">pil0610@naver.com</h3>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="material-icons" style="font-size: 50px; color: #3CB4FF;">school</i></div>
                            <div class="mb-2"><span class="education">학력</span></div>
                            <h3 class="h4 mb-2">군산대학교(IT융합통신공학전공)</h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Call to action-->
        <section class="page-section bg-brown" id="skills">
            <div class="container">
                <h2 class="text-center">SKILLS</h2>
                <hr class="divider" />
                <div class="row justify-content-center">
                    <!-- Language -->
                    <div class="col-md-2 skill-box" style="margin: 0 15px;">
                        <h4 style="color: #669966;">Language</h4>
                        <img src="media/language.png" alt="Language Logo" class="img-fluid">
                    </div>
        
                    <!-- Module -->
                    <div class="col-md-2 skill-box" style="margin: 0 15px;">
                        <h4 style="color: #669966;">Module</h4>
                        <img src="media/module1.png" alt="Module Logo">
                        <img src="media/module2.png" alt="Module Logo">
                    </div>
        
                    <!-- Infra & DB -->
                    <div class="col-md-2 skill-box" style="margin: 0 15px;">
                        <h4 style="color: #669966;">Infra & DB</h4>
                        <img src="media/infra&db.png" alt="Infra&db Logo">
                    </div>
        
                    <!-- Tool -->
                    <div class="col-md-2 skill-box" style="margin: 0 15px;">    
                        <h4 style="color: #669966;">Tool</h4>
                        <img src="media/tool1.png" alt="Tool Logo">
                        <img src="media/tool2.png" alt="Tool Logo">
                    </div>
                </div>
            </div>
        </section>
          

        <!-- Call to action-->
        <section class="page-section bg-dark text-white" id="archiving">
            <div class="container">
                <h2 class="text-center">ARCHIVING</h2>
                <hr class="divider" />
                <div class="row justify-content-center">
                    <div class="col-md-4 skill-box" style="margin: 0 15px; text-align: center;">
                    <a href="https://github.com/runacian0221">
                        <img src="media/github.png" alt="github Logo">
                    </a>
                    <h6 class="text-center" style="color: black;"><br>- 국비, 개인 프로젝트의 소스코드<br>- 인프런에서 배운 내용에 대한 소스코드</h6>
                </div>
            </div>
        </section>

        <section class="page-section bg-green text-white" id="project">
            <div class="container">
                <h2 class="text-center">PROJECTS</h2>
                <hr class="divider" />
                <div class="row justify-content-center">
                    <div class="col-md-12 skill-box" style="padding: 15px; margin-bottom: 30px;">
                        <div class="row">
                            <h2 style="color: black; text-align: center;">취업준비생을 위한 자기소개서 서비스</h2>
                            <h7 style="color: gray; text-align: center;">2023.04.21 ~ 2023.05.04 (5인 팀프로젝트)</h7>
                            <div class="col-md-6">
                                <img src="media/취준생자소서.png" alt="project Logo" style="width: 90%; height: auto;">
                            </div>
                            <div class="col-md-6">
                                <h2 style="color: black; margin-top: 10px;">프로젝트 소개</h2>
                                <div class="custom-divider"></div>
                                <h4 style="color: black; padding-top: 10px; padding-bottom: 50px;">취업준비생이 시간을 많이 투자하고 준비하기 힘들어하는 <br>
                                    자기소개서를 쉽게 작성하고자 <a style="color: red;">잡코리아 합격자기소개서</a>를 <br>바탕으로 자기소개서를 입력받아 여러 기능을 제공해주는 <br>서비스입니다.</h4>
                                <h2 style="color: black;">개발 기간</h2>
                                <div class="custom-divider"></div>
                                <h4 style="color: black; padding-top: 10px; padding-bottom: 50px;">2023.04.21 ~ 2023.05.04</h4>
                                <h2 style="color: black;">Read Me</h2>
                                <div class="custom-divider"></div>
                                <h4 style="color: black; padding-top: 10px; padding-bottom: 50px;">
                                    <a href="https://github.com/runacian0221/SemiPJT/blob/main/README.md" target="_blank">
                                        <i class="material-icons">book</i>READ ME
                                    </a>
                                </h4>
                                <h2 style="color: black;">주요 기능</h2>
                                <div class="custom-divider"></div>
                                <h4 style="color: black; padding-top: 10px; padding-bottom: 50px;">
                                    1. 입력<br>
                                    자기소개서를 문항별로 입력받는 기능입니다. 문항수가 4문항 이상이라면 <br>'답변추가하기' 버튼을 눌러 문항 수를 늘릴 수 있습니다.<br><br>
                                    2. 키워드 추출<br>
                                    자기소개서를 다 입력한 다음 '분석하기' 버튼을 누르면 키워드를 제시해줍니다. 키워드를 통해 작성한 자기소개서에 어필하고 있는 주요부분을 전체적으로 <br>볼 수 있습니다.<br><br>
                                    3. 요약<br>
                                    자기소개서를 다 입력한 다음 '분석하기' 버튼을 누르면 문항 별로 요약본을 제시해줍니다. 요약을 통해 주요문장들을 확인 할 수 있습니다.<br><br>
                                    4. 직무, 기업 추천<br>
                                    잡코리아에서 크롤링한 데이터를 바탕으로 직무별, 기업별 키워드 데이터를 갖고 있습니다. 키워드 추출에서 얻은 키워드를 바탕으로 가장 유사한 직무와 기업을 <br>3개씩 추천합니다<br><br>
                                    5. 자동문장완성<br>
                                    작성을 원하는 자기소개서 문항을 선택하고, 완성하고자 하는 문장을 입력한 후 '문장 완성하기' 버튼을 누르면 완성된 3개의 문장을 제시해줍니다.</h4>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-12 skill-box" style="padding: 15px; margin-bottom: 30px;">
                        <div class="row">
                            <h2 style="color: black; text-align: center;">Django를 이용한 웹페이지 서비스</h2>
                            <h7 style="color: gray; text-align: center;">2023.07.10 ~ 2023.09.10 (개인 프로젝트)</h7>
                            <div class="col-md-6">
                                <img src="media/django.png" alt="project Logo" style="width: 90%; height: auto;">
                            </div>
                            <div class="col-md-6">
                                <h2 style="color: black; margin-top: 10px;">프로젝트 소개</h2>
                                <div class="custom-divider"></div>
                                <h4 style="color: black; padding-top: 10px; padding-bottom: 50px;">Django모듈을 이용하여 웹페이지 제작 및 운영하는 서비스를 제공합니다.</h4>
                                <h2 style="color: black;">개발 기간</h2>
                                <div class="custom-divider"></div>
                                <h4 style="color: black; padding-top: 10px; padding-bottom: 50px;">2023.07.10 ~ 2023.09.10</h4>
                                <h2 style="color: black;">Read Me</h2>
                                <div class="custom-divider"></div>
                                <h4 style="color: black; padding-top: 10px; padding-bottom: 50px;">
                                    <a href="https://github.com/runacian0221/DjangoPJT/blob/main/README.md" target="_blank">
                                        <i class="material-icons">book</i>READ ME
                                    </a>
                                </h4>
                                <h2 style="color: black;">주요 기능</h2>
                                <div class="custom-divider"></div>
                                <h4 style="color: black; padding-top: 10px; padding-bottom: 50px;">
                                    1. Article<br>
                                    원하는 게시물을 게시할 수 있습니다.<br><br>
                                    2. Projects<br>
                                    올린 게시글을 묶어서 볼 수 있습니다.<br><br>
                                    3. Subscription<br>
                                    구독한 사용자의 게시글을 따로 볼 수 있습니다.<br><br>
                                    4. MyPage / login<br>
                                    로그인이 되어 있지 않다면 login 기능, 로그인이 되어있다면 프로필사진, <br>상태메시지 등을 수정할 수 있는 마이페이지가 있습니다.<br><br>
                                    5. SignUp<br>
                                    계정을 생성할 수 있습니다.</h4>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 skill-box" style="padding: 15px; margin-bottom: 30px;">
                        <div class="row">
                            <h2 style="color: black; text-align: center;">포트폴리오 웹사이트 제작</h2>
                            <h7 style="color: gray; text-align: center;">2023.11.02 ~ 2023.11.03 (개인 프로젝트)</h7>
                            <div class="col-md-6">
                                <img src="media/포폴.png" alt="project Logo" style="width: 90%; height: auto;">
                            </div>
                            <div class="col-md-6">
                                <h2 style="color: black; margin-top: 10px;">프로젝트 소개</h2>
                                <div class="custom-divider"></div>
                                <h4 style="color: black; padding-top: 10px; padding-bottom: 50px;">포트폴리오용으로 제작한 웹사이트입니다. 현재 웹사이트가 이에 해당됩니다.</h4>
                                <h2 style="color: black;">개발 기간</h2>
                                <div class="custom-divider"></div>
                                <h4 style="color: black; padding-top: 10px; padding-bottom: 50px;">2023.11.02 ~ 2023.11.03</h4>
                                <h2 style="color: black;">Read Me</h2>
                                <div class="custom-divider"></div>
                                <h4 style="color: black; padding-top: 10px; padding-bottom: 50px;">
                                    <a href="https://github.com/runacian0221/django_portfolio_pjt/blob/main/README.md" target="_blank">
                                        <i class="material-icons">book</i>READ ME
                                    </a>
                                </h4>
                                
                                <h2 style="color: black;">주요 기능</h2>
                                <div class="custom-divider"></div>
                                <h4 style="color: black; padding-top: 10px; padding-bottom: 50px;">
                                    1. Runacian's Portfolio<br>
                                    페이지의 최상단으로 이동합니다.<br><br>
                                    2. About Me<br>
                                    개인 인적사항을 볼 수 있습니다.<br><br>
                                    3. Skills<br>
                                    개인적으로 배운 프로그래밍 언어를 볼 수 있습니다.<br><br>
                                    4. Archiving<br>
                                    과거 프로젝트에 사용했던 소스코드를 볼 수 있습니다.<br><br>
                                    5. Project<br>
                                    과거 프로젝트에 대한 설명을 간단하게 볼 수 있습니다.<br><br>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        

        
        <!-- Footer-->
        <footer class="bg-light py-5">
            <div class="container px-4 px-lg-5"><div class="small text-center text-muted">Copyright &copy; 2023 - Company Name</div></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- SimpleLightbox plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'js/scripts.js' %}"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
